<div class="param<% if (required) { %> required<% } %><% if (param.deprecated) { %> deprecated<% } %>">
  <div class="name">
    <span class="main-name"><%= name; %></span>
    <span class="type"><%= param.type %></span>
    <% if (param.nullable) { %><span class="nullable">nullable</span><% } %>
    <% if (param.deprecated) { %><span class="deprecated">deprecated</span><% } %>
  </div>
  <% if (param.description) { %>
  <div class="description"><%- md_to_html(param.description) %></div>
  <% } %><br />keys: <%= JSON.stringify(Object.keys(param)) %>
</div>