<div class="param-list indent">
  <% params.forEach(param => { if (param.in == param_in) { %>
  <%- include('param', {name: param.name, param, required: false, exploded:false, md_to_html}); %>
  <% } }); %>
</div>