<div class="security-scheme <%= scheme.security.scheme %>">
  <% if (scheme.security.scheme == 'basic') { %>
  <div class="name">HTTP Basic</div>
  <div class="field">Username</div>
  <div class="field">Password</div>
  <% } else if (scheme.security.scheme == 'bearer') { %>
  <div class="name">HTTP Bearer</div>
  <div class="field">Token <% if (scheme.security.bearerFormat) { %>(<%= scheme.security.bearerFormat %>)<% } %></div>
  <% } else { %> unknown auth type "<%= scheme.security.scheme %>" <% } %>
</div>
<% if (scheme.security.description) { %>
<div class="description"><%- md_to_html(scheme.security.description) %></div>
<% } %>